/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #1a5276;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-left: 10px;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.hamburger {
    background-color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* Responsive Navigation Bar */
nav {
    display: flex;
    justify-content: center;
    background-color: #1a5276;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 0px;
    background-color: #f7e78f;
    display: ;
    flex-wrap: wrap;
    justify-content: center;
}



footer {
    background-color: #1a5276;
    color: white;
    text-align: center;
    padding: 30px;
}

footer a {
    color: #e6db74;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        flex-direction: column;
        display: none;
        background-color: #1a5276;
        padding: 10px;
        border-radius: 5px;
    }

    nav.active ul {
        display: block;
    }
}
